.screenshot image {
    width: 150px;
    height: 90px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: white;
  }
  
  .display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 5% auto;
    position: relative;
  }
  
  video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .video-options {
    position: absolute;
    left: 20px;
    top: 30px;
  }
  
  .controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
  }
  
  .controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
  }
  
  .controls > button:hover svg {
    color: white !important;
  }
  
  @media (min-width: 300px) and (max-width: 400px) {
    .controls {
      flex-direction: column;
    }
    
    .controls button {
      margin: 5px 0 !important;
    }
  }
  
  .controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  
  .controls button:nth-child(1) {
    border: 2px solid #D2002E;
  }
  
  .controls button:nth-child(1) svg {
    color: #D2002E;
  }
  
  .controls button:nth-child(2) {
    border: 2px solid #008496;
  }
  
  .controls button:nth-child(2) svg {
    color: #008496;
  }
  
  .controls button:nth-child(3) {
    border: 2px solid #00B541;
  }
  
  .controls button:nth-child(3) svg {
    color: #00B541;
  }
  
  .controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
  }
  
  .controls > button:hover svg {
    color: white;
  }